<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>WebSocket TP Buffa</title>
    <link rel="stylesheet" type="text/css" href="style.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="js/classes/jeu.js"></script>
    <script src="js/chat.js"></script>
</head>

<body onload="init();">
<div id="boxinfo">
    <b>ROOMS</b>
    <div id="rooms"></div>
    <br/>
    <b>USERS</b>
    <div id="users"></div>
</div>
<p><canvas width=430 height=430 id="tankCanvas"></canvas></p>
<div id="chat">
    <div id="conversation"></div>
    <input id="data" />
    <input type="button" id="datasend" value="Envoyer" />
</div>
</body>
</html>
