#tankCanvas {
    margin-left: 30px;
    border: 1px solid black;
    float:left;
}

#boxinfo {
    float:left;
    width:100px;
    border:10px solid #DDD;
    border-radius: 10px;
    background-color: #F5F5F5;
    height:400px;
    padding:10px;
    overflow:scroll-y;
}

#chat {
    float:left;
    margin-left: 30px;
    padding:10px;
    border:10px solid #DDD;
    border-radius: 10px;
    width:300px;
    height:400px;
    overflow:scroll-y;
    overflow-x: hidden;
}

#data {
    width:200px;
}