body {
	background: url("img/bg.png") repeat;
	font-family: Arial, sans-serif;
	font-size: 13px;
	margin-top:20px;
}
a {
	text-decoration: underline;
	color: aliceblue;
}
a:hover {
	color:#2ECC71;
}
h1 {
	font-size:30px;
	font-family: 'Trebuchet MS', sans-serif;
	color:#37B76D;
	text-align:center;
}
h4 {
	text-align: center;
	background-color: #3d9964;
	padding:5px;
}
#container {
	padding:5px;
	width:900px;
	min-height:900px;
	margin: 0 auto;
	background-color: #222;
	border:5px solid #191919;
	border-radius: 10px;
}
.btn {
	font-size:17px;
	font-family: 'Trebuchet MS', sans-serif;
	padding: 18px 35px 13px 35px;
	margin: 0 1px 0 0;
	text-decoration: none;
	text-align: center;
	color: #EEE;
	cursor: pointer;
	background: #2c3e50;
	border-bottom: 4px solid #364F67;
}
.btn:hover{
	border-bottom: 4px solid #2ECC71;
	transition-property:border-bottom .6s linear 0s;
	-moz-transition:border-bottom .6s linear 0s;
	-webkit-transition:border-bottom .6s linear 0s;
	-o-transition:border-bottom .6s linear 0s;
	color:#2ecc71;
}
#menu {
	width:478px;
	margin:20px auto;
}
#menu li {
	list-style: none;
	padding: 0;
	margin: 0;
	background:#7F8C8D;
}

#menu li .btn {
	float: left;
	box-shadow:0px 0px 3px #000;
	border-right:1px solid #5A6876;
	border-left:1px solid #5A6876;
	border-top:1px solid #5A6876;
}
.clearfloat {
	clear: both;
}
#game {
	text-align:center;
	padding-top:10px;
}
#tankCanvas {
	border: 3px solid #111111;
	background-color: #fff;
}
#boxchat {
	background-color: #090909;
	color: #FFF;
	float:left;
	margin: 5px 15px 0 46px;
	padding:10px;
	border: 3px solid #111111;
	width:600px;
	min-height:250px;
	max-height:400px;
	overflow:scroll-y;
	overflow-x: hidden;
}
#boxchat b {
	color: #37B76D;
}
#boxchat div {
	padding-bottom: 10px;
}
#conversation {
	padding: 15px;
}
#boxinfo {
	color:#FFF;
	float:left;
	background-color: #090909;
	width:140px;
	border: 3px solid #111111;
	min-height:250px;
	max-height:400px;
	padding:10px;
	overflow:scroll-y;
	margin: 5px 0 20px 0;
}
#boxinfo div {
	padding:0 0 5px 5px;
}
#data {
	background-color: #132E1E;
	border:3px solid #37B76D;
	padding: 5px;
	margin-left:15px;
	width:300px;
	color:#FFF;
}